altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
macholib==1.16.3
MailTm==0.0.81
packaging==23.2
ply==3.11
plyer==2.1.0
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.11
requests==2.31.0
sip==6.7.12
tomli==2.0.1
urllib3==2.0.7